@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Patrick+Hand&family=Roboto:wght@100;400&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Linear+A&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@500&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@300&display=swap');



@media (max-width: 768px) {
  .main {
    width: 95%; /* Adjust width for smaller screens */
    max-width: none; 
    flex: 1 ,100%;
    /* Remove the maximum width constraint */
  }
}
/* css for top section */

.top {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  align-items: center;
  flex-wrap: nowrap;
  background-color: rgb(245, 245, 245);
  width: 100vw;
  height: fit-content;
}

.info-top {
  width: 40%;
  padding-left: 10rem;

}

.info-top>h3 {
  font-size: 20px;
  font-family: 'Geologica', sans-serif;




}

.info-top>h1 {
  font-size: 46px;
  font-weight: bold;
  font-family: 'Geologica', sans-serif;


}

.typed {
  font-family: 'Noto Sans Linear A', sans-serif;
  font-weight: 700;
  border-bottom: 1px solid black;



}

.p-typed {
  font-family: 'Mukta Malar', sans-serif;
  font-size: 22px;
  font-weight: 600;
}

.info-top>p {
  font-family: 'Mukta Malar', sans-serif;
}


.img-top {

}

.about-middle {
  width: 100vw;
  height: 100vh;
  background-color: rgba(234, 237, 242, 255);

}

.top-links {
  display: flex;
  width: 20%;
  justify-content: left;

}



.top-links>a>button {
  font-family: 'Mukta Malar', sans-serif;
  margin-right: 10px;
  width: 7rem;
  height: 3rem;
  background-color: #e0842c;
  color: white;

}


.top-links>a>button:hover {
  border: #e0842c;
  background-color: black;

  color: white;
}

/* end of css for top section */

/* about me section  */
.about-middle {
 
  display: flex;
  justify-content:space-evenly;





  
}

.about-left {

  align-items: center;




}

.about-left>h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Geologica', sans-serif;
}

.about-left>p{
  font-size: 20px;
  word-spacing: 1px;
  font-family: 'Rokkitt', serif;
 
}


.about-left>img{
  /* width: 30rem;
  height: 77%; */
  border: 10px solid white;

  border-radius: 12px;

}
.about-right{
  padding-top:10%;
  padding-right: 15%;
  width: 50%;
  margin-left: 10rem;
  
}
.about-right>h1{
  font-size: 40px;
  font-weight: bold;
  font-family: 'Geologica', sans-serif;

}
.about-right>h4>strong{
  color: #e0842c;
}

.about-left-details{
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.left-details{
  width: 100%;
  display: flex;
  justify-content: space-around;
 
  


  
 
}
.left-details>span{
  
  border-right: 1px solid grey;
  height: 25px;
  text-align: right;
  font-family: 'Mukta Malar', sans-serif;
  font-size: 18px;


}

.left-details>p{
  font-size: 20px;
  word-spacing: 1px;
  font-family: 'Rokkitt', serif;
}

/* end of about me section */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Rancho&family=Water+Brush&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}
.skills_section{
    width: 100%;
    height: 100vh;
    padding: 0px 13%;
    background-color: rgba(0, 0, 0, 0.082);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.skills_head{
    width: 100%;
    margin-bottom: 100px;
    display: grid;
    place-items: center;
    text-align: center;
}
.skills_head h2{
    font-size: 30px;
    margin-bottom: -5px;
}
.skills_head h2 span{
    color: #e74d06;
}
.skills_main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}
.skills_main .skill_bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 10px;
}
.skill_bar .info p:nth-child(2){
    font-weight: 500;
}
.skill_bar .bar{
    width: 100%;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 25px;
    margin-top: 5px;
    position: relative;
}
.skill_bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: #e74d06;
    border-radius: 25px;
}
.skill_bar .bar .html{
    width: 90%;
    animation: html 2s;
}
@keyframes html {
    0%{
        width: 0%;
    }100%{
        width: 90%;
    }
}
.skill_bar .bar .css{
    width: 85%;
    animation: css 2s;
}
@keyframes css {
    0%{
        width: 0%;
    }100%{
        width: 85%;
    }
}
.skill_bar .bar .sass{
    width: 80%;
    animation: sass 2s;
}
@keyframes sass {
    0%{
        width: 0%;
    }100%{
        width: 80%;
    }
}
.skill_bar .bar .js{
    width: 80%;
    animation: css 2s;
}
@keyframes js {
    0%{
        width: 0%;
    }100%{
        width: 80%;
    }
}
.skill_bar .bar .react{
    width: 75%;
    animation: react 2s;
}
@keyframes react {
    0%{
        width: 0%;
    }100%{
        width: 75%;
    }
}
.skill_bar .bar .node{
    width: 70%;
    animation: node 2s;
}
@keyframes node {
    0%{
        width: 0%;
    }100%{
        width: 70%;
    }
}
.skill_bar .bar .express{
    width: 65%;
    animation: express 2s;
}
@keyframes express {
    0%{
        width: 0%;
    }100%{
        width: 65%;
    }
}
.skill_bar .bar .mongo{
    width: 60%;
    animation: mongo 2s;
}
@keyframes mongo {
    0%{
        width: 0%;
    }100%{
        width: 60%;
    }
}
